name: Cypress CI/CD

# Trigger workflow on Pull Requests
on: [push]


jobs:
  cypress-smoke:
    name: Run Smoke Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: build

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: List directory contents for debugging
        run: ls -R

      - name: Install dependencies
        run: npm install

      # - name: Cypress run
      #   uses: cypress-io/github-action@v6
      #   with: 
      #     path: build
      #     build: npm run build
      #     start: npm start
      #     browser: chrome

      - name: Run Cypress Smoke Tests
        uses: cypress-io/github-action@v6 # Use the correct version
        with:
          spec: '../cypress/e2e/spec.cy.js'
          env: TAGS=@smoke

      # - name: Run Cypress Smoke Tests
      #   run: npm run cy:smoke
      #   env:
      #     CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }} # Use this if you're recording results to the Cypress dashboard

  # cypress-regression:
  #   name: Run Regression Tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: '18'

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Cypress run
  #       uses: cypress-io/github-action@V3
  #       with: 
  #         build: npm run build
  #         start: npm start
  #         run: npm run cy:regression

      # - name: Run Cypress Regression Tests
      #   run: npm run cy:regression
      #   env:
      #     CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }} # Use this if you're recording results to the Cypress dashboard
